* {
    /* border: solid 1px blue; */
    background-color: white;
    font-family: Helvetica;
}

header {

}

h1 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color: khaki;
  background-image: url("../images/pattern.jpeg");
}

h2 {
  /* font-family: Helvetica; */
  font-size: 32px;
  font-weight: bold;
  color: white;
}

p {
  font-size: small;
}

  .brushes h2{
    background-color: mediumspringgreen;
  }

  .frames h2{
  background-color: lightcoral;
  }

  .paint h2{
    background-color: skyblue;
  }

  .accessory{

  }

  p .price-details {
    /* font-family: Helvetica; */
    font-weight: bold;
    color: blue;
  }
